# Logs
logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env
.env.* 
!.env.example

# Build outputs
dist
coverage
.nyc_output

# Cache
.cache
.parcel-cache
.vite/

# Others
.DS_Store
